@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sidebar{
    flex: 0.14;
    margin-right: 15px ;
}

.sidebar_compose{
    margin-top:15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    background-color: #c2e7ff !important;
    padding: 15px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 15px !important;
    font-family: 'Roboto';

}
.sidebar_compose:hover{
    box-shadow: 4px 8px 10px -6px rgba(0, 0, 0, 0.24);
}


